.account-head {
  .box-body {
    padding: 1rem;
    padding-bottom: 0;
  }

  .tile .tile-content {
    padding-top: .2rem;
    padding-left: .8rem;
  }

  .tile-title {
    margin-bottom: .2rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .tile-subtitle {
    margin: 0;
  }

  &-actions {
    margin-top: 1rem;
  }

  &-bio {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;

    p {
      font-size: 0.7rem;
      margin-bottom: 0.5rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .statistics {
    margin-top: .3rem;
  }
}

@media only screen and (max-width: $size-md) {
  .account-head {
    &-bio {
      margin-top: 1rem;
    }

    &-actions {
      margin-top: 1rem;
    }

    .statistics {
      margin-top: 1rem;
    }
  }
}
