.box {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  border-radius: 3px;
  margin-bottom: 1rem;

  &-nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.7rem;
    border-bottom: 1px solid $gray-color-light;

    .tab {
      border-bottom: 0;
      margin-bottom: -1px;
    }

    .tab-item a {
      padding: 0.6rem 0.6rem 0.5rem 0.6rem;
      margin: 0;
    }

    .tab .tab-item.active a,
    .tab .tab-item a.active {
      color: $dark-color;
      border-bottom-color: $dark-color;
      font-weight: 600;
    }

    .tab .tab-item a:focus,
    .tab .tab-item a:hover {
      color: $dark-color;
    }
  }

  &-body {
    padding: .5rem;
  }
}
