= paginator.render
  .box.paginator.paginator-mini-box
    .box-body.text-center
      ul.list-inline
        li.list-inline-item
          == prev_page_tag
        li.list-inline-item
          | #{current_page}/#{total_pages}
        li.list-inline-item
          == next_page_tag
