- presenter = StoryPresenter.new(story)
- is_upvoted = @account_upvoted_story_ids.include? story.id
- account = story.account.decorate

li.story-row.story-row--phone(data-controller="story" data-voted=is_upvoted.to_s class=('story-row--voted' if is_upvoted))
  ul.story-row-meta.story-row-meta-primary.list-inline
    = render 'stories/_story/meta_primary', presenter: presenter,
                                            story: story,
                                            account: account,
                                            show_tags: false

  a.story-row-thumb(class=presenter.thumb_classes
                    style=presenter.thumb_styles
                    href=story_path(story))

  h3.story-row-title
    - if story.url.present?
      = link_to story.title, story.url, target: '_blank'
    - else
      = link_to story.title, story_path(story)

  - if presenter.excerpt.present?
    p.story-row-excerpt
      = presenter.excerpt

  ul.story-row-meta.story-row-meta-secondary.list-inline
    li.list-inline-item
      a.story-row-score-btn(
        data-action="click->story#toggleVote"
        data-target="story.voteBtn"
        data-action-path=toggle_vote_api_ujs_story_path(story)
      )
        span.story-row-score-votes-count
          = story.votes_count

    li.list-inline-item •

    = render 'stories/_story/meta_secondary', presenter: presenter,
                                              story: story,
                                              account: account
