.container
  .auth-page
    .auth-page-content
      h2.auth-page-title
        = Setting.site_title

      .card
        .card-body
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            - if alert
              .toast.toast-error.mb-2 = alert
            - elsif notice
              .toast.toast-info.mb-2 = notice

            = f.input :email
            = f.input :password

            .columns
              - if devise_mapping.rememberable?
                .column.col-7.pt-2
                  = f.input :remember_me, wrapper: :horizontal_collection, as: :boolean

              .column.col-5.text-right.pt-2
                = f.button :submit, "Log in", class: 'btn-block'

      = render "devise/shared/links"
