- jumpbox = Jumpbox.instance
- current_link = current_jumpbox_link

.dropdown.jumpbox(data-controller="jumpbox")
  a.btn.btn-link(data-action="click->jumpbox#toggle click@window->jumpbox#windowClicked" title=current_link)
    .tile.tile-centered
      .tile-icon
        - if current_link.media_type == :icon
          i(class=current_link.media_class)
        - elsif current_link.media_type == :avatar
          img.avatar.avatar-xs(src=current_link.media)

      .tile-content
        = current_link

  ul.menu
    li.divider(data-content="Prismo feeds")

    - jumpbox.prismo_feeds.each do |link|
      - next if link.opts[:auth_required] && !user_signed_in?

      li.menu-item
        = active_link_to link.path, link.link_opts do
          .tile
            .tile-icon
              i(class=link.media_class)
            .tile-content
              = link.label
