a.btn.btn-link.navbar-main-notifications#notifications-indicator(
  href=notifications_path
  data-controller="notifications-indicator"
  data-turbolinks-permanent=true
  data-notifications-indicator-all-path=notifications_path
  data-notifications-indicator-unread-path=unread_notifications_path
  title="Notifications"
)
  / i.icon.icon-message
  i.fe.fe-bell
