.dropdown.dropdown-right.navbar-main-profile
  a.btn.btn-link.dropdown-toggle(href="javascript:void(0);")
    = image_tag current_account.avatar_url(:size_60), class: 'avatar'

  ul.menu
    li.menu-item
      .tile.tile-centered
        .tile-icon
          = image_tag current_account.avatar_url(:size_60), class: 'avatar'
        .tile-content = current_account

    li.divider
    li.menu-item
      = link_to 'My Profile', current_account.path
    li.menu-item
      = link_to 'Settings', settings_profile_path

    - if current_user.is_admin?
      li.menu-item
        = link_to 'Admin', edit_admin_settings_path

    li.divider
    li.menu-item
      = link_to 'Sign-out', destroy_user_session_path, data: { method: "delete" }
