<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: Setting.site_title, separator: '-', reverse: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'shared/sentry' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= yield :head %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= render 'shared/head' %>
  </head>

  <body class="body--<%= request.variant.join %>">
    <div data-controller="application">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flash' %>

      <div class="container main">
        <%= yield %>
      </div>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
